{% extends "post_login_HQ.html" %}

{% block content %}

<div style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">

    <form id="getByDate" action="/Block_summary" method="post">

        <div>

            Enter Dates Below to get Block Summary

        </div>

        <div>

            <label for="startdate">Start Date</label>

            <input type="date" id="startdate" name="startdate">

        </div>

        <div>

            <label for="enddate">End Date</label>

            <input type="date" id="enddate" name="enddate">

        </div>

         <div class="form-group" style="display: block; width: 38%">

            <label for="block">Blocks</label>

            <select style="flex: 4" class="form-control" id="block" name="block">
                    {% set nature = ['DINDIGUL', 'DINDIGUL-HQ', 'ATHOOR', 'REDDIARCHATRAM', 'SHANARPATTI', 'NATHAM', 'NILAKOTTAI', 'BATLAGUNDU', 'PALANI', 'ODDANCHATRAM', 'THOPPAMPATTY', 'VEDASANDUR', 'VADAMADURAI', 'GUZILIAMPARAI', 'KODAIKANAL'] %}
                    {% for nat in nature %}
                        <option value= "{{nat}}">{{nat}}</option>"
                    {% endfor %}
                </select>

        </div>

        <button type="submit" class="btn btn-success">Block Summary</button>

    </form>

</div>

{% endblock %}