{% extends "post_login_blocks.html" %}
{% block content %}

<body>

    <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-around;">
        <div id="input">
              <label style="flex: 4" for="Search">Search by Work Name</label>
              <input id="Search" type="text" onkeyup="myFunction()" name="Search" style="display: block; width: 100%">
        </div>


         <div class="form-group" style="display: flex; flex-direction: column; align-items: center; justify-content: space-between;">
         <label for="schemename">Scheme name</label>
         <select class="schemepicker" id="schemename" name="schemename" style="display: block; width: 100%" onmouseover="populateschemename()" onchange="populateInformation(this)" ></select>
         </div>

    </div>

    <div id="WorkList">
    </div>

</body>

<script>

     var source = "/ViewAllDeadlineWorks/{{block}}";

        $.ajax({

            type: 'GET',

            url: source,

            contentType: "application/json",

            dataType: 'json',


            success: function (json) {

                {
                    console.log(json);

                        $("#WorkDetails").find("tbody").empty();

                        var tbl = $("<table class='table table-bordered table-dark' id='WorkDetails'/>");

                        $("#WorkList").append(tbl);

                        var hr = "<tr>";

                        var th1 = "<th style='text-align:center;vertical-align:middle'>" + "Start date" + "</th>";

                        var th2 = "<th style='text-align:center;vertical-align:middle'>" + "End date" + "</th>";

                        var th3 = "<th style='text-align:center;vertical-align:middle'>" + "Blocks" + "</th>";

                        var th4 = "<th style='text-align:center;vertical-align:middle'>" + "Work Name" + "</th>";

                        var th6 = "<th style='text-align:center;vertical-align:middle'>" + "Amount" + "</th>";

                        var th7 = "<th style='text-align:center;vertical-align:middle'>" + "Stage Progress" + "</th>";

                        var th8 = "<th style='text-align:center;vertical-align:middle'>" + "Stage Name" + "</th>";

                        var th9 = "<th style='text-align:center;vertical-align:middle'>" + "Uploaded by" + "</th>";

                        var th10 = "<th style='text-align:center;vertical-align:middle'>" + "Update" + "</th>";

                        var th11 = "<th style='text-align:center;vertical-align:middle'>" + "Add Stage" + "</th>";

                        var th12 = "<th style='text-align:center;vertical-align:middle'>" + "View Stage" + "</th>";


                        $("#WorkDetails").append(hr + th1 + th2 + th3 + th4 + th6 + th7 + th8 + th9 + th10 + th11 + th12);

                        for (var j = 0; j < json.length; j++) {

                            {

                                var url = 'updatework/' + json[j]['work_id'];

                                var url_1 = 'add_stage/' + json[j]['work_id'];

                                var url_2 = 'view_stage/' + json[j]['work_id'];

                                var row = $('<tr></tr>').html('<td>' +

                                    moment(json[j]["start_date"]['$date']).format('YYYY-MM-DD') + '</td>' +

                                    '<td>' + moment(json[j]["end_date"]['$date']).format('YYYY-MM-DD') + '</td>' +

                                    '<td>' + json[j]["block"] + '</td>' +

                                    '<td>' + json[j]["work_name"] + '</td>' +

                                    '<td>' + json[j]["amount"] + '</td>' +

                                    '<td>' + json[j]["stage_order_id"] +"/" + json[j]["total_stages"] + '</td>' +

                                    '<td>' + json[j]["stage_name"] + '</td>' +

                                    '<td>' + json[j]["user_name"] + '</td>' +

                                    '<td><button><a href="' + url + '">Update Work</a></button></td>' +

                                    '<td><button><a href="' + url_1 + '">Add Stage</a></button></td>' +

                                    '<td><button><a href="' + url_2 + '">View Stage</a></button></td>');

                                $("#WorkDetails").append(row);

                            }

                        }



                }

            },


            error: function (e) {

                alert("error");

            }
        });

     function populateschemename() {

          var source = "/rawschemename";

           $.ajax({

            type: 'GET',

            url: source,

            contentType: "application/json",

            dataType: 'json',

            success: function (json) {

                var arr = [];

                for(var i = 0; i < json.length; i++) {

                    if(arr.indexOf(json[i]['scheme_name']) === -1) {

                        arr.push(json[i]['scheme_name']);

                    }
                }
             var $schemename = $('.schemepicker');

                var htmlEO = $.map(arr, function(lcn){

                    return '<option value="' + lcn + '">' + lcn + '</option>'

                });

                $schemename.html(htmlEO);

            },

            error: function (e) {

                alert("error");

            }
        });
    }


    function populateInformation(that) {

        scheme_value = that.value

        var source = "/Deadline/{{block}}/" + scheme_value;

        $.ajax({

            type: 'GET',

            url: source,

            contentType: "application/json",

            dataType: 'json',

            success: function (json) {

                {


                    $("#WorkDetails").find("tbody").empty();

                    var tbl = $("<table class='table table-bordered table-dark' id='WorkDetails'/>");

                    $("#WorkList").append(tbl);

                    var hr = "<tr>";

                    var th1 = "<th style='text-align:center;vertical-align:middle'>" + "Start date" + "</th>";

                    var th2 = "<th style='text-align:center;vertical-align:middle'>" + "End date" + "</th>";

                    var th3 = "<th style='text-align:center;vertical-align:middle'>" + "Blocks" + "</th>";

                    var th4 = "<th style='text-align:center;vertical-align:middle'>" + "Work Name" + "</th>";

                    var th6 = "<th style='text-align:center;vertical-align:middle'>" + "Amount" + "</th>";

                    var th7 = "<th style='text-align:center;vertical-align:middle'>" + "Stage Progress" + "</th>";

                    var th8 = "<th style='text-align:center;vertical-align:middle'>" + "Stage Name" + "</th>";

                    var th9 = "<th style='text-align:center;vertical-align:middle'>" + "Uploaded by" + "</th>";

                    var th10 = "<th style='text-align:center;vertical-align:middle'>" + "Update" + "</th>";

                    var th11 = "<th style='text-align:center;vertical-align:middle'>" + "Add Stage" + "</th>";

                    var th12 = "<th style='text-align:center;vertical-align:middle'>" + "View Stage" + "</th>";


                    $("#WorkDetails").append(hr + th1 + th2 + th3 + th4 +  th6 + th7 + th8 + th9 + th10 + th11 + th12);

                    for (var j = 0; j < json.length; j++) {

                        {

                            var url = 'updatework/' + json[j]['work_id'];

                            var url_1 = 'add_stage/' + json[j]['work_id'];

                            var url_2 = '/view_stage';

                            var row = $('<tr></tr>').html('<td>' +

                                moment(json[j]["start_date"]['$date']).format('YYYY-MM-DD') + '</td>' +

                                '<td>' + moment(json[j]["end_date"]['$date']).format('YYYY-MM-DD') + '</td>' +

                                '<td>' + json[j]["block"] + '</td>' +

                                '<td>' + json[j]["work_name"] + '</td>' +

                                '<td>' + json[j]["amount"] + '</td>' +

                                '<td>' + json[j]["stage_order_id"] +"/" + json[j]["total_stages"] + '</td>' +

                                '<td>' + json[j]["stage_name"] + '</td>' +

                                '<td>' + json[j]["user_name"] + '</td>' +

                                '<td><button><a href="' + url + '">Update Work</a></button></td>' +

                                '<td><button><a href="' + url_1 + '">Add Stage</a></button></td>' +

                                '<td><button><a href="' + url_2 + '">View Stage</a></button></td>');

                            $("#WorkDetails").append(row);

                        }

                    }


                }

            },

            error: function (e) {

                alert("error");

            }

        });

    }
        function myFunction() {

            var input, filter, table, tr, td, i;

            input = document.getElementById("Search");

            filter = input.value.toUpperCase();

            table = document.getElementById("WorkList");

            tr = table.getElementsByTagName("tr");

            console.log(tr.length);

            for (i = 0; i < tr.length; i++) {

                td = tr[i].getElementsByTagName("td")[3];

                if (td) {

                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {

                        tr[i].style.display = "";

                    } else {

                        tr[i].style.display = "none";

                    }

                }

            }

        }



</script>


{% endblock %}