{% extends "post_login_HQ.html" %}
{% block content %}

<style>

    #totalAmount, #totalWorks, #totalCompletedWorks {
        border: 5px groove;
        margin-top: 40px;
        width: 20%;
        align-items: center;
        justify-content: center;
        display: flex;
        color: green;
        padding: 20px;
    }

</style>

<body>

     <div style="display: flex; flex-direction: row; justify-content: space-around;">
        <div id="totalWorks">
        </div>

        <div id="totalAmount">
        </div>

        <div id="totalCompletedWorks">
        </div>

    </div>

     <div style="display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
        <div style="display: flex; flex-direction: column; justify-content: space-around; align-items: flex-start;">
            <div>
                    <h3>Top Blocks by Amount</h3>
            </div>

            <div id="SummaryList">
            </div>



            <div id="blocksList" style="display:none">
            </div>

            <div id="schemesList" style="display:none">
            </div>

            <div id="blockSchemeList" style="display:none">
            </div>

        </div>

        <div style="display: flex; flex-direction: column; justify-content: space-around; align-items: flex-start;">
             <div>
                    <h3>Top Scheme Names by Amount</h3>
             </div>

             <div id="SchemeList">

             </div>
        </div>

     </div>

      <div style="display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
        <div style="display: flex; flex-direction: column; justify-content: space-around; align-items: flex-start;">
            <div>
                    <h3>Top Works by Amount</h3>
            </div>

            <div id="WorkList">

            </div>
        </div>
      </div>

   <div style="display: flex; flex-direction: row; justify-content: space-around; align-items: center; margin-top: 10px">

     <button onclick="downloadBlockReport()">Overall Block Report</button>

     <button onclick="downloadSchemeReport()">Overall Scheme Report</button>

     <button onclick="downloadBlockSchemeReport()">Overall Block-Scheme Report</button>

   </div>

</body>

<script>
        var start_date = "{{start_date}}";
        var end_date = "{{end_date}}";
        var source = "/BlockReport/"+start_date+"/"+end_date;
        var full_amount = 0;
        var full_work = 0;
        var full_completed_work = 0;

        $.ajax({

            type: 'GET',

            url: source,

            contentType: "application/json",

            dataType: 'json',

            success: function (json) {

                var aggregatedData = d3.nest()

                    .key(function (d) {

                        return d.block;

                    })

                    .rollup(function (leaves) {

                        return {
                            "total_amount": d3.sum(leaves, function (d) {
                                return d.amount;
                            }),
                             "total_amount_spent": d3.sum(leaves, function (d) {return d.amount_spent;}),
                            "total_work": leaves.length,
                            "completed_work": leaves.filter(function (leaves) {
                                return leaves.work_status === "Close"
                            }).length
                        }
                    })
                    .entries(json);

                aggregatedData.forEach(function (d) {
                    d.Block = d.key;
                    d.TotalAmount = d.values.total_amount;
                    d.TotalWork = d.values.total_work;
                    d.CompletedWork = d.values.completed_work;
                });

                var topData = aggregatedData.sort(function (a, b) {

                    return d3.descending(+a.TotalAmount, +b.TotalAmount);

                }).slice(0, 5);

                var tbl = $("<table class='table table-bordered table-dark' id='SummaryDetails'/>");
                $("#SummaryList").append(tbl);
                var hr = "<tr>";
                var th1 = "<th style='text-align:center;vertical-align:middle'>" + "S. No" + "</th>";
                var th2 = "<th style='text-align:center;vertical-align:middle'>" + "Block" + "</th>";
                var th3 = "<th style='text-align:center;vertical-align:middle'>" + "Total Amount" + "</th>";
                var th6 = "<th style='text-align:center;vertical-align:middle'>" + "Total Work" + "</th>";
                var th7 = "<th style='text-align:center;vertical-align:middle'>" + "Completed Work" + "</th>";
                $("#SummaryDetails").append(hr + th1 + th2 + th3 + th6 +th7 );
                for (var j = 0; j < topData.length; j++) {

                    var row = $('<tr></tr>').html(
                        '<td>' + (j + 1) + '</td>' +

                        '<td>' + topData[j].key + '</td>' +

                        '<td>' + topData[j].TotalAmount + '</td>' +

                        '<td>' + topData[j].TotalWork + '</td>' +

                        '<td>' + topData[j].CompletedWork + '</td>');

                    $("#SummaryDetails").append(row);

                }

                var aggregatedData1 = d3.nest()
                    .key(function (d) {
                        return d.block;
                    })
                    .rollup(function (leaves) {

                        return {
                            "total_amount": d3.sum(leaves, function (d) {return d.amount;}),
                            "total_amount_spent": d3.sum(leaves, function (d) {return d.amount_spent;}),
                            "total_work": leaves.length,
                            "completed_work": leaves.filter(function (leaves){return leaves.work_status === "Close"}).length
                        }
                    })
                    .entries(json);

                aggregatedData1.forEach(function (d) {
                    d.Block = d.key;
                    d.TotalAmount = d.values.total_amount;
                    d.TotalWork = d.values.total_work;
                    d.CompletedWork = d.values.completed_work;
                    d.AmountSpent = d.values.total_amount_spent;
                    d.Balance = (d.values.total_amount) - (d.values.total_amount_spent);
                    d.PendingWork = (d.values.total_work)-(d.values.completed_work);
                    d.Percentage = [(d.values.total_amount_spent)/(d.values.total_amount)*100]
                });

                console.log(aggregatedData1);

                var tbl1 = $("<table class='table table-bordered table-dark' id='blockDetails'/>");
                $("#blocksList").append(tbl1);
                var hr1 = "<tr>";
                var th11 = "<th style='text-align:center;vertical-align:middle'>" + "S. No" + "</th>";
                var th21 = "<th style='text-align:center;vertical-align:middle'>" + "Block" + "</th>";
                var th31 = "<th style='text-align:center;vertical-align:middle'>" + "Total Works" + "</th>";
                var th41 = "<th style='text-align:center;vertical-align:middle'>" + "Completed Works" + "</th>";
                var th51 = "<th style='text-align:center;vertical-align:middle'>" + "Pending Works" + "</th>";
                var th61 = "<th style='text-align:center;vertical-align:middle'>" + "Total Amount" + "</th>";
                var th71 = "<th style='text-align:center;vertical-align:middle'>" + "Amount Spent " + "</th>";
                var th81 = "<th style='text-align:center;vertical-align:middle'>" + "Balance" + "</th>";
                var th91 = "<th style='text-align:center;vertical-align:middle'>" + "Percentage Spent" + "</th>";
                $("#blockDetails").append(hr1 + th11 + th21 + th31 + th41 + th51 + th61 + th71 + th81 + th91);
                for (var a = 0; a < aggregatedData1.length; a++) {

                    var row1 = $('<tr></tr>').html('<td>' + (a+1) + '</td>' +
                        '<td>' + aggregatedData1[a].key + '</td>' +
                        '<td>' + aggregatedData1[a].TotalWork + '</td>' +
                        '<td>' + aggregatedData1[a].CompletedWork + '</td>' +
                        '<td>' + aggregatedData1[a].PendingWork + '</td>' +
                        '<td>' + aggregatedData1[a].TotalAmount + '</td>' +
                        '<td>' + aggregatedData1[a].AmountSpent + '</td>' +
                        '<td>' + aggregatedData1[a].Balance + '</td>' +
                        '<td>' + aggregatedData1[a].Percentage + '</td>');

                    $("#blockDetails").append(row1);

                }

                var aggregatedData2 = d3.nest()
                    .key(function (d) {
                        return d.scheme_name;
                    })
                    .rollup(function (leaves) {
                        return {
                            "total_amount": d3.sum(leaves, function (d) {return d.amount;}),
                            "total_amount_spent": d3.sum(leaves, function (d) {return d.amount_spent;}),
                            "total_work": leaves.length,
                            "completed_work": leaves.filter(function (leaves){return leaves.work_status === "Close"}).length
                        }
                    })
                    .entries(json);

                aggregatedData2.forEach(function (d) {
                    d.Scheme = d.key;
                    d.TotalAmount = d.values.total_amount;
                    d.TotalWork = d.values.total_work;
                    d.CompletedWork = d.values.completed_work;
                    d.AmountSpent = d.values.total_amount_spent;
                    d.Balance = (d.values.total_amount) - (d.values.total_amount_spent);
                    d.PendingWork = (d.values.total_work)-(d.values.completed_work);
                    d.Percentage = [(d.values.total_amount_spent)/(d.values.total_amount)*100]
                });

                var tbl2 = $("<table class='table table-bordered table-dark' id='schemesDetails'/>");
                $("#schemesList").append(tbl2);
                var hr10 = "<tr>";
                var th12 = "<th style='text-align:center;vertical-align:middle'>" + "S. No" + "</th>";
                var th22 = "<th style='text-align:center;vertical-align:middle'>" + "Scheme Name" + "</th>";
                var th32 = "<th style='text-align:center;vertical-align:middle'>" + "Total Works" + "</th>";
                var th42 = "<th style='text-align:center;vertical-align:middle'>" + "Completed Works" + "</th>";
                var th52 = "<th style='text-align:center;vertical-align:middle'>" + "Pending Works" + "</th>";
                var th62 = "<th style='text-align:center;vertical-align:middle'>" + "Total Amount" + "</th>";
                var th72 = "<th style='text-align:center;vertical-align:middle'>" + "Amount Spent" + "</th>";
                var th82 = "<th style='text-align:center;vertical-align:middle'>" + "Balance" + "</th>";
                var th92 = "<th style='text-align:center;vertical-align:middle'>" + "Percentage Spent" + "</th>";
                $("#schemesDetails").append(hr10 + th12 + th22 + th32 + th42 + th52 + th62 + th72 + th82 + th92);

                for (j = 0; j < aggregatedData2.length; j++) {

                    var row12 = $('<tr></tr>').html(
                        '<td>' + (j + 1) + '</td>' +
                        '<td>' + aggregatedData2[j].key + '</td>' +
                        '<td>' + aggregatedData2[j].TotalWork + '</td>' +
                        '<td>' + aggregatedData2[j].CompletedWork + '</td>' +
                        '<td>' + aggregatedData2[j].PendingWork + '</td>' +
                        '<td>' + aggregatedData2[j].TotalAmount + '</td>' +
                        '<td>' + aggregatedData2[j].AmountSpent + '</td>' +
                        '<td>' + aggregatedData2[j].Balance + '</td>' +
                        '<td>' + aggregatedData2[j].Percentage + '</td>');

                    $("#schemesDetails").append(row12);

                }

                var aggregatedData3 = d3.nest()
                    .key(function (d) {
                        return d.block;
                    })
                    .key(function (d) {
                        return d.scheme_name;
                    })
                    .rollup(function (leaves) {
                        return {
                            "total_amount": d3.sum(leaves, function (d) {return d.amount;}),
                            "total_amount_spent": d3.sum(leaves, function (d) {return d.amount_spent;}),
                            "total_work": leaves.length,
                            "completed_work": leaves.filter(function (leaves){return leaves.work_status === "Close"}).length
                        }
                    })
                    .entries(json);

                console.log(aggregatedData3);

                var tbl3 = $("<table class='table table-bordered table-dark' id='blockSchemeDetails'/>");
                $("#blockSchemeList").append(tbl3);
                var hr13 = "<tr>";
                var th13 = "<th style='text-align:center;vertical-align:middle'>" + "S. No" + "</th>";
                var th23 = "<th style='text-align:center;vertical-align:middle'>" + "Block" + "</th>";
                var th33 = "<th style='text-align:center;vertical-align:middle'>" + "Scheme Name" + "</th>";
                var th43 = "<th style='text-align:center;vertical-align:middle'>" + "Total Works" + "</th>";
                var th53 = "<th style='text-align:center;vertical-align:middle'>" + "Completed Works" + "</th>";
                var th63 = "<th style='text-align:center;vertical-align:middle'>" + "Pending Works" + "</th>";
                var th73 = "<th style='text-align:center;vertical-align:middle'>" + "Total Amount" + "</th>";
                var th83 = "<th style='text-align:center;vertical-align:middle'>" + "Amount Spent " + "</th>";
                var th93 = "<th style='text-align:center;vertical-align:middle'>" + "Balance" + "</th>";
                var th103 = "<th style='text-align:center;vertical-align:middle'>" + "Percentage Spent" + "</th>";
                $("#blockSchemeDetails").append(hr13 + th13 + th23 + th33 + th43 + th53 + th63 + th73 + th83 + th93 + th103);
                for (j = 0; j < aggregatedData3.length; j++) {
                    for (var k = 0; k < aggregatedData3[j].values.length; k++) {

                        console.log(aggregatedData3);

                        var balance = aggregatedData3[j].values[k].values.total_amount - aggregatedData3[j].values[k].values.total_amount_spent
                        var pending = aggregatedData3[j].values[k].values.total_work- aggregatedData3[j].values[k].values.completed_work
                        var percentage = [(aggregatedData3[j].values[k].values.total_amount_spent)/(aggregatedData3[j].values[k].values.total_amount)*100]

                        var row13 = $('<tr></tr>').html(
                            '<td>' + (k + 1) + '</td>' +
                            '<td>' + aggregatedData3[j].key + '</td>' +
                            '<td>' + aggregatedData3[j].values[k].key + '</td>' +
                            '<td>' + aggregatedData3[j].values[k].values.total_work + '</td>' +
                            '<td>' + aggregatedData3[j].values[k].values.completed_work + '</td>' +
                            '<td>' + pending + '</td>' +
                            '<td>' + aggregatedData3[j].values[k].values.total_amount + '</td>' +
                            '<td>' + aggregatedData3[j].values[k].values.total_amount_spent + '</td>' +
                            '<td>' + balance + '</td>' +
                            '<td>' + percentage + '</td>');
                        $("#blockSchemeDetails").append(row13);
                    }
                }

            },

             error: function (e) {

                alert("error");

             }
        });

        var start_date = "{{start_date}}";

        var end_date = "{{end_date}}";

        var source = "/BlockReport/"+start_date+"/"+end_date;

        $.ajax({

            type: 'GET',

            url: source,

            contentType: "application/json",

            dataType: 'json',

            success: function (json) {

                var aggregatedData = d3.nest()

                    .key(function (d) {

                        return d.block;

                    })

                    .rollup(function (leaves) {

                        return {

                            "total_amount": d3.sum(leaves, function (d) {
                                return d.amount;
                            }),

                            "total_work": leaves.length,

                            "completed_work": leaves.filter(function (leaves) {
                                return leaves.work_status === "Close"
                            }).length
                        }
                    })
                    .entries(json);

                for (var l = 0; l < parseInt(aggregatedData.length); l++) {

                    full_amount += aggregatedData[l].values.total_amount;

                    full_work += aggregatedData[l].values.total_work;

                    full_completed_work += aggregatedData[l].values.completed_work;

                }

                document.getElementById("totalWorks").innerHTML = "Total Works :  " + full_work;

                document.getElementById("totalAmount").innerHTML = "Total Amount :  " + full_amount;

                document.getElementById("totalCompletedWorks").innerHTML = "Total Completed Works :  " + full_completed_work;

            },

         error: function (e) {

            alert("error");

        }

    });

        var start_date = "{{start_date}}";

        var end_date = "{{end_date}}";

        var source = "/BlockReport/"+start_date+"/"+end_date;

        $.ajax({

            type: 'GET',

            url: source,

            contentType: "application/json",

            dataType: 'json',

            success: function (json) {

                var aggregatedData = d3.nest()

                    .key(function (d) {

                        return d.scheme_name;

                    })

                    .rollup(function (leaves) {

                        return {

                            "total_amount": d3.sum(leaves, function (d) {

                                return d.amount;
                            }),

                            "total_work": leaves.length,

                             "completed_work": leaves.filter(function (leaves){return leaves.work_status === "Close"}).length
                        }
                    })
                    .entries(json);

                aggregatedData.forEach(function (d) {
                    d.SchemeName = d.key;
                    d.TotalAmount = d.values.total_amount;
                    d.TotalWork = d.values.total_work;
                    d.CompletedWork = d.values.completed_work;
                });


                var topData = aggregatedData.sort(function (a, b) {

                    return d3.descending(+a.TotalAmount, +b.TotalAmount);

                }).slice(0, 5);

                var tbl = $("<table class='table table-bordered table-dark' id='SchemeDetails'/>");

                $("#SchemeList").append(tbl);

                var hr = "<tr>";

                var th1 = "<th style='text-align:center;vertical-align:middle'>" + "S. No" + "</th>";

                var th2 = "<th style='text-align:center;vertical-align:middle'>" + "Scheme Name" + "</th>";

                var th3 = "<th style='text-align:center;vertical-align:middle'>" + "Total Amount" + "</th>";

                var th4 = "<th style='text-align:center;vertical-align:middle'>" + "Total Work" + "</th>";

                var th5 = "<th style='text-align:center;vertical-align:middle'>" + "Completed Work" + "</th>";

                $("#SchemeDetails").append(hr + th1 + th2 + th3 + th4 + th5 );

                for (var j = 0; j < topData.length; j++) {

                    var row = $('<tr></tr>').html(
                        '<td>' + (j + 1) + '</td>' +

                        '<td>' + topData[j].key + '</td>' +

                        '<td>' + topData[j].TotalAmount + '</td>' +

                        '<td>' + topData[j].TotalWork + '</td>' +

                        '<td>' + topData[j].CompletedWork + '</td>');

                    $("#SchemeDetails").append(row);

                }

            },

             error: function (e) {

                alert("error");

             }
        });

        var start_date = "{{start_date}}";

        var end_date = "{{end_date}}";

        var source = "/BlockReport/"+start_date+"/"+end_date;

        $.ajax({

            type: 'GET',

            url: source,

            contentType: "application/json",

            dataType: 'json',

            success: function (json) {

                var aggregatedData = d3.nest()

                    .key(function (d) {

                        return d.work_name;

                    })

                    .rollup(function (leaves) {

                        return {

                            "total_amount": d3.sum(leaves, function (d) {

                                return d.amount;
                            }),

                            "total_work": leaves.length,

                             "completed_work": leaves.filter(function (leaves){return leaves.work_status === "Close"}).length
                        }
                    })
                    .entries(json);

                aggregatedData.forEach(function (d) {
                    d.WorkName = d.key;
                    d.TotalAmount = d.values.total_amount;
                    d.TotalWork = d.values.total_work;
                    d.CompletedWork = d.values.completed_work;
                });


                var topData = aggregatedData.sort(function (a, b) {

                    return d3.descending(+a.TotalAmount, +b.TotalAmount);

                }).slice(0, 5);

                var tbl = $("<table class='table table-bordered table-dark' id='WorkDetails'/>");

                $("#WorkList").append(tbl);

                var hr = "<tr>";

                var th1 = "<th style='text-align:center;vertical-align:middle'>" + "S. No" + "</th>";

                var th2 = "<th style='text-align:center;vertical-align:middle'>" + "Work Name" + "</th>";

                var th3 = "<th style='text-align:center;vertical-align:middle'>" + "Total Amount" + "</th>";

                var th4 = "<th style='text-align:center;vertical-align:middle'>" + "Total Work" + "</th>";

                var th5 = "<th style='text-align:center;vertical-align:middle'>" + "Completed Work" + "</th>";

                $("#WorkDetails").append(hr + th1 + th2 + th3 + th4 + th5 );

                for (var j = 0; j < topData.length; j++) {

                    var row = $('<tr></tr>').html(
                        '<td>' + (j + 1) + '</td>' +

                        '<td>' + topData[j].key + '</td>' +

                        '<td>' + topData[j].TotalAmount + '</td>' +

                        '<td>' + topData[j].TotalWork + '</td>' +

                        '<td>' + topData[j].CompletedWork + '</td>');

                    $("#WorkDetails").append(row);

                }

            },

             error: function (e) {

                alert("error");

             }
        });


        function downloadBlockReport() {

        var start_date = "{{start_date}}";

        var end_date = "{{end_date}}";

        var source = "/BlockReport/"+start_date+"/"+end_date;

        $.ajax({

            type: 'GET',

            url: source,

            contentType: "application/json",

            dataType: 'json',

            success: function (json) {

                 console.log(json);

                var aggregatedData = d3.nest()

                    .key(function (d) {

                        return d.block;

                    })

                    .rollup(function (leaves) {

                        return {

                            "total_amount": d3.sum(leaves, function (d) {return d.amount;}),

                            "total_amount_spent": d3.sum(leaves, function (d) {return d.amount_spent;}),

                            "total_work": leaves.length,

                            "completed_work": leaves.filter(function (leaves){return leaves.work_status === "Close"}).length
                        }
                    })
                    .entries(json);

                console.log(aggregatedData);

                var doc = new jsPDF();

                doc.setFontSize(16);

                var heading = doc.splitTextToSize('DISTRICT RURAL DEVELOPMENT AUTHORITY DINDUGUL', 200);
                doc.text(30, 20, heading);
                var period = doc.splitTextToSize('Overall Block Report ' + start_date + ' to ' + end_date, 140);
                doc.text(40, 35, period);
                var columns = ["S. No", "Blocks", "Total Works", "Completed", "Pending", "Total Amount", "Amount Spent", "Balance", "Percentage"];
                var rows = [];
                for (var l = 0; l < aggregatedData.length; l++) {
                    rows.push([[l + 1], [aggregatedData[l].key],
                        [aggregatedData[l].values.total_work], [aggregatedData[l].values.completed_work], [([aggregatedData[l].values.total_work])-([aggregatedData[l].values.completed_work])],
                        [aggregatedData[l].values.total_amount],[aggregatedData[l].values.total_amount_spent],[([aggregatedData[l].values.total_amount])-([aggregatedData[l].values.total_amount_spent])],
                        ([aggregatedData[l].values.total_amount_spent]/[aggregatedData[l].values.total_amount]*100)]);
                }

                 doc.autoTable(columns, rows, {

                        startY: 65,

                        styles: {overflow: 'linebreak', fontSize: 10},

                        columnStyles: { 1: {columnWidth: 25}, 2: {columnWidth: 25}, 5: {columnWidth: 21}, 4: {columnWidth: 18},  7: {columnWidth: 21} }

                    });
                var today = new Date();
                var newdat = "Date Printed : "+ today;
                doc.text(107,290,newdat);
                doc.text(40,45, "Total Amount:"+full_amount);
                doc.text(40,50, "Total Works Undertaken:"+full_work);
                doc.text(40,55,"Total Completed Works:"+full_completed_work);
                doc.save('Overall-Block-Report.pdf');

                var wb = XLSX.utils.table_to_book(document.getElementById('blockDetails'), {sheet:"Block Report"});
                var wbout = XLSX.write(wb, {bookType:'xlsx', bookSST:true, type: 'binary'});
                function s2ab(s) {
                    var buf = new ArrayBuffer(s.length);
                    var view = new Uint8Array(buf);
                    for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
                    return buf;
                }
                saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), 'BlockReport.xlsx');
            },

            error: function (e) {

                alert("error");

            }

        });
    }

     function downloadSchemeReport() {

         var start_date = "{{start_date}}";

        var end_date = "{{end_date}}";

        var source = "/SchemeReport/"+start_date+"/"+end_date;

        $.ajax({

            type: 'GET',

            url: source,

            contentType: "application/json",

            dataType: 'json',

            success: function (json) {

                var aggregatedData = d3.nest()

                    .key(function (d) {

                        return d.scheme_name;

                    })

                    .rollup(function (leaves) {

                       return {

                            "total_amount": d3.sum(leaves, function (d) {return d.amount;}),

                            "total_amount_spent": d3.sum(leaves, function (d) {return d.amount_spent;}),

                            "total_work": leaves.length,

                            "completed_work": leaves.filter(function (leaves){return leaves.work_status === "Close"}).length
                        }
                    })
                    .entries(json);

                 console.log(aggregatedData)

                var doc = new jsPDF();

                doc.setFontSize(16);

                var heading = doc.splitTextToSize('DISTRICT RURAL DEVELOPMENT AUTHORITY ' +

                    'DINDUGUL', 200);

                doc.text(30, 20, heading);

                var period = doc.splitTextToSize('Overall Scheme Report ' + start_date + ' to ' + end_date, 140);

                doc.text(40, 35, period);

                var columns = ["S. No", "Scheme Name", "Total Works", "Completed", "Pending", "Total Amount", "Amount Spent", "Balance", "Percentage"];

                var rows = [];

                for (var l = 0; l < aggregatedData.length; l++) {

                    rows.push([[l + 1], [aggregatedData[l].key],
                        [aggregatedData[l].values.total_work], [aggregatedData[l].values.completed_work], [([aggregatedData[l].values.total_work])-([aggregatedData[l].values.completed_work])],
                        [aggregatedData[l].values.total_amount],[aggregatedData[l].values.total_amount_spent],[([aggregatedData[l].values.total_amount])-([aggregatedData[l].values.total_amount_spent])],
                        ([aggregatedData[l].values.total_amount_spent]/[aggregatedData[l].values.total_amount]*100)]);

                }

                  doc.autoTable(columns, rows, {

                        startY: 65,

                        styles: {overflow: 'linebreak', fontSize: 10},

                        columnStyles: { 1: {columnWidth: 25}, 2: {columnWidth: 25}, 5: {columnWidth: 21}, 4: {columnWidth: 18},  7: {columnWidth: 21} }

                    });
                var today = new Date();
                var newdat = "Date Printed : "+ today;
                doc.text(107,290,newdat);
                 doc.text(40,45, "Total Amount:"+full_amount);
                doc.text(40,50, "Total Works Undertaken:"+full_work);
                doc.text(40,55,"Total Completed Works:"+full_completed_work);
                doc.save('Overall-Scheme-Report.pdf');

                var wb = XLSX.utils.table_to_book(document.getElementById('schemesDetails'), {sheet:"Scheme Report"});
                var wbout = XLSX.write(wb, {bookType:'xlsx', bookSST:true, type: 'binary'});
                function s2ab(s) {
                    var buf = new ArrayBuffer(s.length);
                    var view = new Uint8Array(buf);
                    for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
                    return buf;
                }
                saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), 'SchemeReport.xlsx');

            },

            error: function (e) {

                alert("error");

            }

        });
    }

     function downloadBlockSchemeReport() {

         var start_date = "{{start_date}}";

        var end_date = "{{end_date}}";

        var source = "/BlockFilterByScheme/"+start_date+"/"+end_date;

        $.ajax({

            type: 'GET',

            url: source,

            contentType: "application/json",

            dataType: 'json',

            success: function (json) {

                console.log(json);

                var aggregatedData = d3.nest()

                    .key(function (d) {

                        return d.block;

                    })

                    .key(function (d) {

                        return d.scheme_name;

                    })

                    .rollup(function (leaves) {

                        return {

                            "total_amount": d3.sum(leaves, function (d) {return d.amount;}),

                            "total_amount_spent": d3.sum(leaves, function (d) {return d.amount_spent;}),

                            "total_work": leaves.length,

                            "completed_work": leaves.filter(function (leaves){return leaves.work_status === "Close"}).length

                        }
                    })
                    .entries(json);

                var doc = new jsPDF();

                doc.setFontSize(16);

                var heading = doc.splitTextToSize('DISTRICT RURAL DEVELOPMENT AUTHORITY ' +

                    'DINDUGUL', 200);

                doc.text(30, 20, heading);

                var period = doc.splitTextToSize('Overall Block-Scheme Report ' + start_date + ' to ' + end_date, 180);

                doc.text(40, 35, period);

                var columns = ["S. No", "Blocks", "Scheme Name", "Total Works", "Completed", "Pending", "Total Amount", "Amount Spent", "Balance", "Percentage"];

                var rows = [];

                for (var l = 0; l < aggregatedData.length; l++) {

                    for (var j = 0; j < aggregatedData[l].values.length; j++) {

                        rows.push([[l + 1], [aggregatedData[l].key],

                            [[aggregatedData[l].values[j].key]], [[aggregatedData[l].values[j].values['total_work']]], [[aggregatedData[l].values[j].values['completed_work']]],

                            [[[aggregatedData[l].values[j].values['total_work']]]-[[aggregatedData[l].values[j].values['completed_work']]]],

                            [[aggregatedData[l].values[j].values['total_amount']]],[[aggregatedData[l].values[j].values['total_amount_spent']]],

                             [[[aggregatedData[l].values[j].values['total_amount']]]-[[aggregatedData[l].values[j].values['total_amount_spent']]]],

                            [[[aggregatedData[l].values[j].values['total_amount_spent']/[aggregatedData[l].values[j].values['total_amount']]]*100]]]);
                    }
            }

                doc.autoTable(columns, rows, {

                        startY: 65,

                        styles: {overflow: 'linebreak', fontSize: 10},

                        columnStyles: { 1: {columnWidth: 22}, 2: {columnWidth: 22 }, 5: {columnWidth: 18}, 8: {columnWidth: 21}}

                    });
                var today = new Date();
                var newdat = "Date Printed : "+ today;
                doc.text(107,290,newdat);
                doc.text(40,45, "Total Amount:"+full_amount);
                doc.text(40,50, "Total Works Undertaken:"+full_work);
                doc.text(40,55,"Total Completed Works:"+full_completed_work);
                doc.save('Overall-Block-Scheme-Report.pdf');

                var wb = XLSX.utils.table_to_book(document.getElementById('blockSchemeDetails'), {sheet:"Block-Scheme Report"});
                var wbout = XLSX.write(wb, {bookType:'xlsx', bookSST:true, type: 'binary'});
                function s2ab(s) {
                    var buf = new ArrayBuffer(s.length);
                    var view = new Uint8Array(buf);
                    for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
                    return buf;
                }
                saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), 'Block-Scheme Report.xlsx');

            },

            error: function (e) {

                alert("error");

            }

        });
    }
</script>

{% endblock %}

